h1 {color:darkgreen;font-size:30px;font-family:serif;text-align: center;}

body{background-color: rgb(214, 157, 200);}

body{background-image:url(../imagens/flor.avif); background-repeat:no-repeat; background-position:center;}

