* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
}

:root {
    --font-titulo: 'Reenie Beanie', Sans serif;
    --font-texto: 'Gloria Hallelujah', Sans serif;
}
