*{
    margin: 

}


h1{text-align: center;font-family:Georgia, 'Times New Roman', Times, sans-serif}

p{font-family: Georgia, 'Times New Roman', Times, sans-serif;}

#paragrafo{text-align: center;}



#perfil-img{width:400px;height:auto; border-radius: 30%;object-fit: cover;display: block;margin:20px auto;border: 5px solid; color: green;}

img{width: 300px;height: auto;border-radius: 50%;object-fit: cover;display: block;}

.container{display: flex;align-items: center;}

.container img{margin-right: 1rem;}
h2{text-align: center;}